
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
  --bg:#fff;
  --navHeight:80px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --brand-width:100%;
  color-scheme: light dark;
  color: #222;
  /* background-color: #fff; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.tab-only{
  opacity:0;
  padding:0rem;
  background-color: black;  
  color:#fff;
  height:2rem;
  line-height:2rem;
  font-family: 'Poppins';
  z-index:10;
  position:absolute;
  left:0rem;
  top:0rem;
  text-decoration: underline;
}
.tab-only:hover{
  opacity:0;
  cursor:default; 
}
.tab-only:focus{
  opacity:1;
}
body{
  overflow:hidden;
  font-family: Poppins;
  background-color: #fff;
}

.container{
  background: var(--bg);
  transition:all 2s;
}
a {
  font-weight: 500;
  color: #233;
  text-decoration: none;
}
a:hover {
  color: #000;
}
nav{
  height:80px;
  display:grid;
  place-content: center;
  padding:1rem;
  padding-top:2rem;
  background:rgb(255 255 255 / 20%);
  background-blend-mode: difference;
  position: relative;
  z-index:5;
  width:100%;

 
}
ul {
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  gap:1.25rem;

}
.pageContainer{
  height:auto;
 overflow:hidden;
 display:flex;
 flex-direction:column;
}
.btnNav{
  display:none;
}
.active{
  text-decoration: none;
  text-decoration-color: #333;
  text-decoration-thickness: 2px;
  color:#fff;
  background:red;
  border-radius:25px;
  padding:0.5rem 1.5rem;
}

nav li {
  display:inline-block;
}
nav a {
  padding:0.5rem 1.5rem;
}
nav a:hover{
  color:#fff;
  background:rgb(255 0 0 /50%);
  border-radius:25px;
  padding:0.5rem 1.5rem;
}
.nextprev{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:2rem;
  border-radius: 6px;
  bottom:0;
  left:50%;

}

.nextprev > div{
  padding:1rem 2rem;
  background: #fff;
  box-shadow: 0 0 3px 3px rgb(0 0 0 /25%);
}

  .nextprev{
    display:block;
    position: absolute;
    top:50%;
    left:0;
    height:3rem;;
    width:100%;
    z-index:10;
  }
  .next button,
  .prev button{
    display: inline-block;
    width:3rem;
    height:3rem;
    border-style: solid;
    border-radius: 6px;
    padding:0;
    display: grid;
    place-content:center;
    font-size: 3rem;
    color:#000;
    background-color: #fff;
    cursor: pointer;
    border-color:transparent;
    border-radius:50%;
    box-shadow:0px 4px 12px 2px rgb(0 0 0 / 10%);


  }
  .next button:hover,
  .prev button:hover,
  .next button:focus,
  .prev button:focus{
    color:#ffc000;
  }
  .next button:focus,
  .prev button:focus{
    border-color:#fff;
    outline:auto;
  }
  .next button:disabled,
  .prev button:disabled{
    filter:contrast(0.3);
    opacity:0.3;
  }
  .next button:disabled:hover,
  .prev button:disabled:hover{
    color:#000;
    cursor:default;
   opacity:0.3
  }
  
  .nextprev .buttons {
    padding: 1rem 2rem;
    background:transparent;
    box-shadow: none;
    /* background: #fff; */
    /* box-shadow: 0 0 3px 3px rgb(0 0 0 / 25%); */
    display: flex;
    justify-content: space-between;
}
.num{
  position: absolute;
  color:#fff;
  left:50%;
  transform: translateX(-50%);
  bottom:10%;
  padding:0.5rem;
  font-family:'Poppins';
  color:#000;
  border-radius: 6px;
  background:#fff;
  box-shadow:0px 2px 12px 7px rgb(0 0 0 / 10%);
}

header{
  width:100%;
  position: relative;
}
header h1 {
  position: absolute;
  left:50%;
  font-size:1rem;
  top:.5rem;
  display: inline-block;;
  padding:0 1rem 0.5 1rem;
  z-index: 10;
  color:#000;
  transform: translateX(-50%);
  font-family: Poppins;
  font-weight:600;
  font-size:0.875rem;
  box-sizing: border-box;
}
.container{
  width:100%;
  height: calc(100vh - 100px);
  display: grid;
  place-content: center;
  /* overflow: hidden; */
  transition:all 1s;
  background:var(--background);
  background-size:var(--background-size);
}
.btnNav{
  top:20px;
  right:20px;
  display:block;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  max-width:40px;
  max-height:40px;
  width:60px;
  height:60px;
  padding:6px;
  border-radius: 6px;
  background-image: linear-gradient(-45deg, #34324b 0%, #161222 90%);
  background:none;
  border:0;
  cursor:pointer;

}

.dots div{
  background:#000;
  width:25px;
  height:2px;
  transition:all 0.05s;
  
}  
.dots{
  position: relative;
  display:flex;
  padding:0;
  flex-direction: column;
  height:30px;
  align-items: center;
  justify-content: space-evenly;
}
:where( #microsoft, #youtube, #react ) .dots div, .dots div:first-child,.dots div:last-child {
 background-color: #fff;
}
:where( #mcdonalds ) .dots div:first-child,.dots div:last-child {
  background-color: #ffc20f;
}
:where( #git ) .dots div:first-child,.dots div:last-child{
  background-color:#ff4f20;
}
:where( #adidas ) .dots div:first-child,.dots div:last-child {
  background-color: red;
}
:where( #android ) .dots div, .dots div:first-child,.dots div:last-child {
  background-color:#a4c639 !important;
}
:where(#switch) .dots div {
  background-color: #4bd1e1;
}
:where(#switch) .dots div:first-child,.dots div:last-child {
  background-color:#f00;
}

@media screen and (max-width:1155px){
  :root{
    /* --navCollapsed:40px; */
  }
  .pageContainer{
    display:block;
  }
  .container{
    width:100%;
    height: calc(100vh - 0px);
    transition: all 0s;
  }

  nav{
    align-content:baseline;
    position:absolute;
    height:100vh;
    overflow:hidden;
    padding-bottom:0;
    padding-right:4rem;
    padding-left:4rem;
    background-color: rgb(0 0 0 / 80%);
    transition:all ease-in 0.2s;
  }
  nav.show{
    height:100vh;
    padding-top:0;
    opacity:1;
  }
  nav.hide{
    height:0vh;
    padding-top:0;
    opacity:0.5;
  }
  nav.hide ul li a{
    display:none;
  }

  nav li a{
    color:#fff;
    
  }


  .pageContainer{
    flex-direction:row;
    width:100%;
  }


  nav {
    top:0;
    left:0;
    width:fit-content;
  }
  nav li{
    margin:0 !important;
    height:2rem;
    line-height:2rem;
    border-bottom:1px solid rgb(200 200 200 / 0.2);
    width:100%;
  }
  nav li:hover{
   background:rgb(200 200 200 / 0.2)
  }
  ul{
    flex-direction: column;
    gap:2rem;
    align-items: baseline;
  }
  nav a {
    padding:0rem;
   
    height: 1.25rem;
    line-height:1.25rem;
    margin:0;
    padding:0 1.5rem;
  }
  .active{
    text-decoration: none;
    text-decoration-color: #333;
    text-decoration-thickness: 2px;
    color:#fff;
    background-color:rgb(200 200 200 / 0.5);
    border-radius:0px;
    margin:0 0 0 0;
  }
  nav a:hover{
    color:#fff;
    background:none;
    border-radius:0px;

  }
  .nextprev{
    display:block;
    position: absolute;
    top:unset;
    bottom:11%;
    left:0;
    height:3rem;;
    width:100%;
    z-index:10;
  }
  .btnNav{display:flex;}
  
  :where( #figma, #microsoft, #youtube, #react, #google,  #android) header h1{
    font-weight:600;
    font-size:1.25rem;
    color:#000;
    border-bottom:1px dashed #000;
    }
    :where( #mcdonalds ) header h1 {
      font-weight:600;
      font-size:1.25rem;
      color:#f7f668;
      border-bottom:1px dashed #f7f668;
    }
    :where( #git ) header h1{
      font-weight:600;
    font-size:1.25rem;
    color:#ff4f20;
    border-bottom:1px dashed #ff4f20;
}
    :where( #adidas ) header h1 {
      font-weight:600;
      font-size:1.25rem;
      color:red;
      border-bottom:1px dashed red;
    }
    :where( #microsoft, #youtube, #react) header h1 {
      font-weight:600;
      font-size:1.25rem;
      color:#fff !important;
      border-bottom:1px solid #fff;
    }
    :where( #android ) header h1 {
      font-weight:600;
      font-size:1.25rem;
      color:#a4c639 !important;
      border-bottom:1px dashed #a4c639;
    }
    :where(#switch) header span:nth-child(1) {
      font-weight:600;
      font-size:1.25rem;
      color:#4bd1e1; 
    }
    :where(#switch) header span:nth-child(2) {
      font-weight:600;
      font-size:1.25rem;
      color:#f00;
    }
   
  
}
/* large */


.home .btn {
  padding:1rem 2rem;
  color:#fff;
  background:#000;
  cursor:pointer;
  width:auto;
  font-size: 1.25rem;
  border-radius: 6px;
}
.home .btn:hover{
  box-shadow:0 0 6px 3px rgb(0 0 0 /35%);
  text-shadow: 2px 2px 1px rgb(200 200 255 /50%);
  transition:all 0.5s ease-out;
}




.home{
  --background:#f1f1f1 no-repeat 0 0;
  --background-size:cover;
  color:#fff;
  position:relative;
  width:100%;
}


.home h2 {
  color:#fff;
  font-size: 1.5rem;
}
.home p {
  font-size:2rem;
}
nav {
  height:var(--navHeight);
}
.gradient{
  width: 100%;
  height: calc(100vh - var(--navHeight));
  position: absolute;
  top: 0;
  text-align: center;
  background-color: rgb(0 0 0 / 10%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.home .logo-container {
  width:170px;
  height:120px;
  background:#0000;
  position:relative;
  border-radius:;
  overflow:hidden;
}
.home .ch {
  position: absolute;
  display:grid;
  place-content: center;
  width:150px;
  height:100px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
  color:#3ebffa;
  background: #34324b;
  background: linear-gradient(-45deg, #34324b 0%, #161222 90%);
  top:10px;
  left:10px;
}
.home .border{
  background:rgb(62 191 250 / 20%);
  border-right:10px;
}
.home .border.border-top{
  left:0vh; 
  top:0; 
  height:10px; 
  width:0; 
  animation:slide1 2s linear forwards infinite
}
.home .border.border-right{
  position: absolute;
  right:0; 
  top:0; 
  height:0; 
  width:10px; 
  animation:slide2 2s linear forwards infinite 1s;
}
.home .border.border-bottom{
  position: absolute;
  bottom:0; 
  right:0; 
  width:0; 
  height:10px; 
  animation:slide3 2s linear forwards infinite 0s;
}
.home .border.border-left{
  position: absolute;
  bottom:0; 
  left:0; 
  height:0; 
  width:10px; 
  animation:slide4 2s linear forwards infinite 1s;
}
.home .next button{
  display: none !important;
}
@keyframes slide1 {
  50%{width:170px; margin-left:0;}
  100%{margin-left:170px;}
}
@keyframes slide2 {
  50%{height:120px; margin-top:0;}
  100%{margin-top:120px;}
}
@keyframes slide3 {
  50%{width:170px; margin-right:0;}
  100%{margin-right:170px;}
}
@keyframes slide4 {
  50%{height:120px; margin-bottom:0;}
  100%{margin-bottom:120px;}
}

/* FIGMA */
.figma{
  --red:#ff0000;
  --purple:#9f61fa;
  --green:#00ce84;
  --pink:#fb7266;
  --blue:#2dbdf9;
  --background:honeydew;
  --animation: slide-in-left 0.5s linear forwards 0s;
  width:var(--brand-width);
}
.figma h2 {
  text-align: center;
  color:#000;
  font-family:Poppins;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  padding:2rem;
  display: block;
}

.figma .logo{
  width:10rem;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap:0;
}

.cell {
  width:5em;
  height:5em;
  background:#ccf;
}
.cell:nth-child(odd){
  border-top-left-radius:50%;
  border-bottom-left-radius:50%;
}
.cell:nth-child(even){
  border-top-right-radius:50%;
  border-bottom-right-radius:50%;
}
.cell:first-child{
  background:var(--red);
}
.cell:nth-child(2){
  background:var(--pink);
}
.cell:nth-child(3){
  background:var(--purple);
}
.cell:nth-child(4){
  background:var(--blue);
  border-radius:50%;
}
.cell:nth-child(5){
  background:var(--green);
  border-bottom-right-radius:50%;
}


.microsoft{
  --red:#ff2825;
  --green:#00b341;
  --blue:#0096fb;
  --yellow:#ffc000;
  --background:#000;
  --animation:  shake .5s linear forwards;
  width:var(--brand-width);
}

.microsoft h2 {
  text-align: center;
  color:#fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding:2rem;
  display: block;
}
.microsoft .logo {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:0.6rem;  
}


.microsoft .cell {
  width:100px;
  height:100px; 
  background:var(--red);
  border-radius:0;
}
.microsoft .cell:first-child{
  border-top-left-radius:4px;
}

.microsoft .cell:nth-child(2){
  background:var(--green);
  border-top-right-radius:4px;
}

.microsoft .cell:nth-child(3){
  background:var(--blue);
  border-bottom-left-radius:4px;
}

.microsoft .cell:nth-child(4){
  background:var(--yellow);
  border-bottom-right-radius:4px;
}
 /* youtuibe */

 .youtube{
  --red:#f00;
  --triangle-transparent:20px solid transparent;
  --triangle:40px solid #fff;
  --background:#000;
  --animation: float-in 1s 3 linear forwards;
  width:var(--brand-width);
}

.youtube h2 {
  text-align: center;
  color:#fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.youtube .logo {
  position: relative;
  display: grid;
  place-content: center;
  width: 200px;
  height: 150px;
  margin: 20px 0;
  background: red;
  border-radius: 34% / 11%;
  color: white;
  text-align: center;
  text-indent: 0.1em;
}

.youtube .logo:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
.play{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  width:0;
  height:0;
  padding:0 0 0 0px;
  border-top:var(--triangle-transparent);
  border-bottom:var(--triangle-transparent);
  border-left:var(--triangle);
}

/* React */

.react {
  --logo:  #71dffc;
  --logolight:#71dffc20;
  --background:   #000;
  --logo-border-width:0.15rem;
  --electron-border-w: 0.3rem;
  --logo-width: 240px;
  --electron-height:5.0rem;
  --animation:rotation 40s forwards linear infinite;
  --container-animation:backgrounds 20s linear infinite;
  /* width:var(--brand-width); */
  }
  .react .container{
    animation:var(--container-animation);
    width:100vw;
  }
  .react h2{
      font-family:'Poppins', Arial, sans-serif;
      color:#fff;
      font-weight: 600;
      position: absolute;
      left:50%;
      top:20%;
      transform: translateX(-50%);
  }

  .react .logo {
      width:var(--logo-width);
      height:var(--logo-width);
      position:relative;
      border:4px solid var(--logo);
      border-width: var(--logo-border-width);
      border-radius: 50%;
      padding:10px;
      display: grid;
      place-content: center;
      animation:rotation 40s forwards linear infinite;
  }
  .react .nucleas{
      background:var(--logo);
      width:35px;
      height:35px;
      border-radius:50%;
      position:relative;
  }
  .react .electrons{
      width:calc(var(--logo-width)*0.85);
      height:var(--electron-height);
      border-radius: 0;
      border:5px solid var(--logo);
      border-width:var(--electron-border-w);
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      border-radius:50%;
  }
  .react .electrons::before{
      content:'';
      border-radius: 0;
      width:calc(var(--logo-width)*0.85);
      height:var(--electron-height);
      border:5px solid var(--logo);
      border-width:var(--electron-border-w);
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%) rotate(-60deg);
      border-radius:50%;
  }
  .react .electrons::after{
      content:'';
      border-radius: 0;
      width:calc(var(--logo-width)*0.85);
      height:var(--electron-height);
      border:5px solid var(--logo);
      border-width:var(--electron-border-w);
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%) rotate(60deg);
      border-radius:50%;
  }
  
  /* Google */
  
.google {
  --logo:  #71dffc;
  --logolight:#71dffc20;
  --background:   #f4f4f4;
  --logo-border-width:0.15rem;
  --electron-border-w: 0.3rem;
  --logo-width: 16vw;
  --electron-height:5.0rem;
  --animation: shake .5s linear forwards;
  width:var(--brand-width);
  }

.google h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  top:50%;
}
.google .container{

    background-color: #f4f4f4;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;

}
.google .logo {
  position: relative;
  width: 30vw;
  height: 30vw;
  border: 10vw solid #000;
  border-radius: 50%;
  border-top-color: #eb4132;
  /*red*/
  border-right-color: #4086f6;
  /*blue*/
  border-left-color: #f1b401;
  /*yellow*/
  border-bottom-color: #2ba14d;
  z-index:1;

  animation:rotation 3s linear;
  /*green*/
  scale:0.4;
}

.google .google .logo::before {
content: "";
z-index: 3;
position: absolute;
top: 50%;
right: -9.5vw;
transform: translateY(-50%);
width: 24.5vw;
height: 10vw;
background-color: #4285f4;
}

.google .logo::after {
  content: "";
position: absolute;
top: -10.0vw;
right: -10.0vw;
width: 0;
height: 0;
border-top: 20.0vw solid transparent;
border-right: 20.0vw solid #f4f4f4;
  z-index:2;
  rotate:0deg;
}

.mcdonalds {
  --logo: #f7f668;
  --mmm: #ffc20f;
  --shine: #f7f668;
  --background: #c00;
  --arch-width:64%;
  --arch-border-w:40px 60px 3px 60px;
  --arch-border-reverse-w:40px 60px 3px 60px;
  --border-radius:50%;
  --height:195%;
  --animation: shake .5s linear forwards;
  width:100%;


  }
  .mcdonalds h2 {
    text-align: center;
    color:var(--logo);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:2rem;
    display: block;
  }
  .mcdonalds .logo {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:540px;
    overflow:hidden;
    scale:0.5
  }
  .mcdonalds .left{
    height:var(--height);
    background:transparent;
    height:500px;
    position:relative;
    overflow:hidden;
  }
  .mcdonalds .right{
    height:var(--height);
    background:transparent;
    height:500px;
    position:relative;
    overflow:hidden;
  }
  .mcdonalds .left .arch1 {
    margin-left:10px;
    height:var(--height);
    width:var(--arch-width);
    background-color: transparent;
    border:20px solid var(--mmm);
    border-width:var(--arch-border-w);
    border-radius:var(--border-radius);
  }
  .mcdonalds .right .arch1{
    margin-right:10px;
    height:var(--height);
    width:var(--arch-width);
    float:right;
    background-color: transparent;
    border:20px solid var(--mmm);
    border-width:var(--arch-border-reverse-w);
    border-radius:var(--border-radius);
  }
  .mcdonalds .right .arch1::after{
    content:'';
    position:absolute;
    width:60px;
    height:40px;
    background:#c00;
    bottom:0;
    left:0;
  }
  .mcdonalds .left .arch1::after{
    content:'';
    position:absolute;
    width:60px;
    height:40px;
    background:#c00;
    bottom:0;
    right:0;
  }
  /* Github */
  .git {
    --logo: #ff4f20;
    --background:#eaffff;
    --border-radius:12px;
    --height:180px;
    --dots:calc(var(--height) / 6);
    --line:calc(var(--height) / 18);
    --animation: shake .5s linear forwards;
    width:100%;
  }
   
.git h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  color:var(--logo)
}
  .logo-container{
    width:calc(var(--height) * 1.45);
    height:calc(var(--height) * 1.45);
    position:relative;
  }  
  .git .tile{
    position: absolute;
    /* left: 50%; */
    top: 15%;
    /* transform: translate(-50%); */
    background: var(--logo);
    width: var(--height);
    height: var(--height);
    border-radius: var(--border-radius);
    transform: rotate(45deg) translateX(-50%);
    left: 50%;
    z-index: 0;
    transform-origin: left;
  }
  .git .dumb {
    position:absolute;
    top:20%;
    left:50%;
    width:24px;
    transform: translate(-50%, 0);
    height:60px;
    z-index:1;
    height:calc(var(--height) * 1.1);
  }
  .git .dots{
    position: absolute;
    width:var(--dots);
    height:var(--dots);
    background-color: var(--background);
    border-radius:50%;
    z-index:1;
  }
  .dumb .dots:first-child{
    position:absolute;
    top:0%;
    left:50%;
    transform:translateX(-50%);
  }
  .dumb .dots:nth-child(2){
    position:absolute;
    top:60%;
    left:50%;
    transform:translateX(-50%);
  }
  .git .bar{
    position: absolute;
    width:var(--line);
    height:60%;
    top:8%;
    left:50%;
    transform: translateX(-50%);
    background-color: var(--background);

    z-index:1;
  }
 
  .git .side {
    position:relative;
    left:50%;
    top:7px;
    width:30px;
    height:150px;
    rotate:-45deg;
    z-index:3;
  }
  .git .side .lines{
    position: absolute;
  }
  .git .side .lines{
    position: absolute;
    width:var(--line);
    height:125px;
    left:50%;
    transform: translateX(-50%);
    background-color: var(--background);
    z-index:2;
    
  }
  .git .side .dots{
    bottom:0;
  }
  
  /* switch */
  
  @font-face {
    font-family: logofont;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/531144/couture-bld.otf);
  }
  .switch{
    --logo: #000;
    /* --background:#ef5350;
     */
     --background:#000;
    --border-radius:12px;
    --height:300px;
    --width:300px;
    --dots:calc(var(--height) / 6);
    --line:calc(var(--height) / 18);
    --animation: pressure 1.76s linear forwards 2.2s;
    width:100%;
  }
  .switch h2{

    font-family:logofont;
    color:#fff;
    animation:blade 2s linear forwards 0.2s;
    
  }

  .switch .container > div{
    animation: var(--animation);
  }
  .switch .container .logo {
    animation: var(--animation);
  }
  .switch span{
    font-size:3.5rem;
    display:block;
    line-height:1;
    letter-spacing:.6rem;
    padding-left:0.24rem;
    text-align:center;
    width:100%;
  }
  .switch span:first-child{
    font-size:1.8rem;
    padding-left:0.5rem;
    letter-spacing:1rem;
  }
  .switch span{
    color:rgb(75, 209, 225);
  }
  .switch span + span {
    color:red;
  }
  .switch .logo {
    display:grid;
    grid-template-columns:1fr 1fr;
    height:var(--height);
    width:var(--width);
    gap:1.25rem;
    margin:0 auto;
    
  }
  .switch .solid {
    border-radius:3px 50px 50px 3px;
    background:#f00;
    position:relative;
    animation: switch 2s linear forwards 0.2s;
  }
  .switch .clear{
    position:relative;
    border-radius:50px 3px 3px 50px;
    background:transparent;
    border:1.25rem solid rgb(75, 209, 225);
  }
  .switch .controller {
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    /* background:#ef5350;
     */
     background:#000;
  }
  .switch .solid .controller{
    top:50%;
    left:50%;
    transform:translateX(-50%);
  }
  .switch .clear .controller{
    background:rgb(75, 209, 225);
    top:10%;
    left:50%;
    transform:translateX(-50%);
  }

  /* android  */

  .android{
    --logo: #a4c639;
    /* --logo: #f9f9f9;
    --logo: rgb(255, 136, 0); */
    --background:#fff;
    --border-radius:12px;
    --height:250px;
    --width:250px;
    --droid-h:160px;
    --droid-w:120px;
    --dots:20px;
    --line:calc(var(--height) / 18);
    --animation: android .2s linear forwards 2.2s;
    width:var(--brand-width);
  }
  .android h2{
    color:var(--logo);
    text-align: center;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
  }
  .android .logo{
    overflow:visible;
    height:var(--height);
    width:var(--width);
    position: relative;
    display:flex;
    flex-direction:column;
    gap:1rem;
  }
  .droid{
    margin:0 auto;
    top:20px;
    width:var(--droid-w);
    height:var(--droid-h);
    position: relative;
    overflow:visible;
    animation:droid 0.2s linear alternate infinite;
  
  }

  .android .head{
    top:0;
    height:130px;
    width:var(--droid-w);
    background:var(--logo);
    border-radius:50%;
    clip-path:polygon(0 -20%, 100% -20%, 100% 50%, 0 50%);

  }
  .android .head::after{
    content:'';
    position: absolute;
    /* background:var(--logo); */
    background-color:var(--logo);
    width:26px;
    height:5px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    top:0;
    right:7px;
    rotate:315deg;

  }
  .android .head::before{
    content:'';
    position: absolute;
    /* background:var(--logo); */
    background-color:var(--logo);
    width:26px;
    height:5px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    top:0;
    left:7px;
    rotate:45deg;

  }
  .android .body{
    position: relative;
    margin-top:-60px;
    bottom:0;
    height:100px;
    background:var(--logo);
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
  }
  .android .eyes{
    position:relative;
    width:100%;
    height:50px;
  }
.android .eyes span{
  position:absolute;
  width: 12px;
  height:12px;
  background:#fff;
  top:60%;
  border-radius:50%;
}
.android .eyes span:first-child{
  left:50%;
  transform:translateX(176%);
  animation:blink 6s linear reverse infinite;
}
.android .eyes span:nth-child(2){
  right:50%;
  transform:translateX(-160%);
  animation:blink 6s linear forwards infinite;
 
}
.android .arms span{
  display:block;
  position: absolute;
  width:24px;
  height:80px;
  background:var(--logo);
  border-radius:25px;
}
.android .arms span:first-child{
  left:-26px;
  animation: armswing 0.5s linear alternate infinite; 
}
.android .arms span:nth-child(2){
  right:-26px;
  animation: armswing 0.5s linear alternate infinite;

}
.android .legs span{
  display:block;
  position: absolute;
  width:24px;
  height:80px;
  background:var(--logo);
  border-radius:25px;
  top:50%;
}

.android .legs span:first-child{
  left:20px;
  /* top:70%; */
  animation: legswing-right 0.4s linear forwards alternate infinite 0.4s;
}
.android .legs span:nth-child(2){
  right:20px;
  animation: legswing-left 0.4s linear alternate infinite;
}



.android .body::before{
  content:'';
  width:120%;
  height:40px;
  background:#ccc;
  border-radius:50%;
  left:0;
  bottom:-80px;
  position:absolute;
  box-shadow:0 0 3px 3px #ccc;
}
.android .arms span::before{
  content:'';
  width:200%;
  height:20px;
  background:#ccc;
  border-radius:50%;
  left:0;
  bottom:-90px;
  position:absolute;
  box-shadow:0 0 3px 3px #ccc;

}
/* circles */
.circles{
  --logo: rgb(164, 198, 57);
  --background:#fff;
  --border-radius:12px;
  --height:250px;
  --width:250px;
  --droid-h:160px;
  --droid-w:120px;
  --dots:20px;
  --line:calc(var(--height) / 18);
  --animation: flowers 0.04s linear forwards;

  width:var(--brand-width);
}
.circles .logo {
  scale:6;
}
.circles {
  color:#000;
  --animation: flowers 60s linear forwards infinite ;
  animation-iteration-count: 10;
  scale:1;
}
.circles h2{
  color:var(--logo);
  color:rgb(255, 213, 0);
}
.circles h2 {
  color:green;
}
.circles h2 span{
  color:red;
}
.circles h2 span:nth-child(2){
  color:rgb(255, 213, 0);
}
.circle-container{

  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;

  scale:50%;
}
.circle{
  width:100px;
  height:100px;
  /* background:rgb(164 198 57 / 50%); */
  border-radius:50% 0 50% 50%;
  padding:0;
  background:rgb(255, 213, 0);
}
.circle2{
  rotate:180deg;

  background:red;
}
.circle1{
  rotate:90deg;
  background:blue;
  /* transform:translate(-15px, -15px); */
}
.circle4{
  rotate:-90deg;
  background:green;
  /* transform:translate(-15px, -15px); */
}
.circle1,.circle2,.circle3,.circle4{
  background:#eee;
  opacity:0.8
}
/* adidas*/

.adidas{

  --logo: #000;
  --background:#fff;
  --border-radius:12px;
  --height:250px;
  --width:250px;
  /* --droid-h:160px; */
  /* --droid-w:120px; */
  /* --dots:20px; */
  --line:calc(var(--height) / 18);
  /* --animation: petals .2s linear forwards 2.2s; */
  width:100%;
  

}

.adidas .container .logo{
  width:611px;
  position:relative;
}
.adidas .logo{
  width:100%;
}

.adidas .flower{
  display:block;
  position:relative;
  width:auto;
  transform: translateX(-50%);
  width:fit-content;
  left:50%;


}
.adidas .petal {
  display: inline-block;
  border:1px solid #fff;
  width:100px;
  height:170px;
  background-color: transparent;
  border:1px solid #0000;
  position:relative;
}
.adidas .petal{
  transform:translateY(-856px);
  animation:petal2 0.5s linear forwards 0.75s;
}
.adidas .petal:first-child{
  transform-origin: center;
  transform:rotate(-40deg) translateY(-856px);
  animation:petal1 0.3s linear forwards 0.5s;
}
.adidas .petal:nth-child(3){
  transform-origin: center ;
  left:0px;transform:rotate(40deg) translateY(-856px);
  animation:petal3 0.3s linear forwards 0.5s;
}
.adidas .bars{
  display: flex;
  flex-direction: column;
  gap:7px;
  position: absolute;
  top:133px;
  height:60px;
  width:100%;
  animation: adidasbars 0.5s linear forwards 1.75s;
  transform:translateX(-1000px);
 
}
.adidas .bar{
  height:7px;
  width:100%;
  background-color: #fff;

}
.adidas .bar:nth-child(1){
  left:0px;
  transform:translateX(-1000px);
  animation: adidasbars 0.5s linear forwards .5s;
}
.adidas .bar:nth-child(2){
  left:0px;
  transform:translateX(-1000px);
  animation: adidasbars 0.5s linear forwards 2.15s;
}

.adidas .bar:nth-child(3){
  left:0px;
  transform:translateX(-1000px);
  animation: adidasbars 0.5s linear forwards 0.5s;
}


.half1{
  --prevbgcolorize:#000;
  --prevcolorize:#000;
  --colorize:red;
  --bgcolorize:red;
  --prevX:translateX(0);
  --currentX:translateX(-30px);
  position: absolute;
  background:#000;
  width:inherit;
  height:inherit;
  border-radius:100%;
  clip-path:polygon(0 0, 30px 0,  30px 100%, 0 100%);
  left:50%;
  transform:translateX(-30px);
  /* animation:colorize 1.5s linear forwards 0s; */
}
.half2{
  --prevbgcolorize:#000;
  --prevcolorize:#000;
  --colorize:red;
  --bgcolorize:red;
  --prevX:translateX(0);
  --currentX:translateX(-46px);
  background:#000;
  width:100px;
  height:inherit;
  border-radius:100%;
  clip-path:polygon(100% 0, 70px 0,  70px 100%, 100% 100%);
  top:0;
  transform:translateX(-46px);
  position:absolute;
  left:25%;
  /* animation:colorize 1.5s linear forwards 0.5s ; */


}
.petal:first-child .half1,
.petal:first-child .half2{
  animation:colorize 1s linear forwards 0s ;
}
.petal:nth-child(2) .half1,
.petal:nth-child(2) .half2{
  animation:colorize 1s linear forwards 0s ;
}
.petal:nth-child(3) .half1,
.petal:nth-child(3) .half2{
  animation:colorize 1s linear forwards 0s ;
}

h2.adidas{
  --prevbgcolorize:transparent;
  --prevcolorize:#000;
  --prevX:translateX(-1400px);
  --colorize:red;
  --bgcolorize:transparent;
  --currentX: translateX(-50%);
  color:var(--colorize);
  font-family:'Poppins', sans-serif;
  font-weight:bold;
  font-size:4.2rem;
  display: inline-block;
  left:50%;
  width:auto;
  text-align: center;
  margin-top:6px;
  position:relative;
  transform:translateX(-1400px);
  animation:colorize .25s linear forwards 2.5s ;
  z-index:10;

}
h2.adidas::before{
  content:'';
  border-radius:1px;
  width:11px;
  height:11px;
  position:absolute;
  background:--colorize;
  left:277px;
  border:4px solid #fff;
  border-bottom-width: 1;
  top:19px;
}
#home .nextprev .buttons .prev button,
  #home .nextprev .buttons .next button{
    display:none !important;
  }

/* KEYFRAME ANIMATIONS */

  @keyframes rotation{
      from {
          rotate:0deg;
      } 
      to {
        rotate:360deg;
      }
  }




/* 
  .container *{
    animation:opacity 0.4s ease-in-out forwards;
  } */
  .container div.logo {
    animation: var(--animation);
  }
  :where(.figma, .microsoft, .youtube, .react, .google, .mcdonalds, .android, .git) h2{
    opacity:0;
    display:block;
    animation: slide-in-left 0.5s linear forwards 0.2s;
  }
  

  @keyframes opacity {
    0% {
      opacity:60%;
      filter:blur(1px);
    }
   
    100% {
      opacity:100%;
      filter:blur(0);
    }
  }
@keyframes slide-in-left{
  0%{
    opacity:1;
    translate:-1110px 0;

  }

  50%{
    translate:30px 0;
  }

  60%{
    translate: -30px 0;

  }

  70% {
    translate:15px 0;
  }

  80%{
    translate:-15px 0;
  }

  100%{
    opacity:1;
    translate:0 0;

  }
}
@keyframes shake {
  0%{
    translate:0% -1110px;
  }

  50%{
    translate:0% 30px;
  }

  60%{
    translate: 0% -30px;

  }

  70% {
    translate:0% 15px;
  }

  80%{
    translate:0% -15px;
  }

  100%{
   
    translate:0 0;

  }
}

@keyframes float-in{
    0% {
      
      filter:invert(0) grayscale(1);
    }
    20% {
      opacity:1;
      filter:invert(0) grayscale(1);
    }
    25% {
      opacity:1;
      filter:invert(1) grayscale(0);
    }
    30% {
      filter:invert(0) grayscale(1);
    }
    35% {

      filter:invert(1) grayscale(0);
    }
    40% {
      opacity:1;
      filter:invert(0) grayscale(1);
    }
    45% {
      opacity:1;
      filter:invert(1) grayscale(0);
    }
    50% {
      filter:invert(0) grayscale(1);
    }
    55% {

      filter:invert(1) grayscale(0);
    }
    60% {
      filter:invert(0) grayscale(1);
    }
    65% {
    
      filter:invert(0) grayscale(1);
    }
    70% {
   
      filter:invert(1) grayscale(0);
    }
    76% {
      filter:invert(0) grayscale(1);
    }
    80% {
      filter:invert(1) grayscale(0);
    }
    85% {
      filter:invert(0) grayscale(1);
    }
    90% {
   
      filter:invert(1) grayscale(0);
    }
    96% {
      filter:invert(0) grayscale(1);
    }
    100% {
      filter:invert(0) grayscale(0);
    }
   
}

@keyframes backgrounds {
  0% {
    background-color:#000;
    background-image:linear-gradient(90deg, #000, #003,#003,#003,#003, #000,#000,#000, #111,#111,#111,#111, #000, #000,  #000, #003,#003, #000, #333,#333,#333,#333, #000, #000);
    background-size:2400% 2400%;
    background-position:0;
  }

  100% {
    background-color:#000;
    background-image:linear-gradient(90deg, #000, #003,#003,#003,#003, #000,#000,#000, #111, #111,#111,#333,#000, #000, #000, #003,#003, #000, #333,#333,#333,#333, #000, #000);
    background-size:2400% 2400%;
    background-position:100%;
  }
}

@keyframes switch {
  0% {
      transform:translateY(0%);
  }
  15% {
    transform:translateY(-80%);
  }
  20% {
    transform:translateY(-50%);
  }
  90% {
    transform:translateY(-50%);
  }
  100% {
  
      transform:translateY(0%);
    
  }
}

@keyframes pressure {
  0% {
    transform:translateY(0) 
  }
  5% {
    transform:translateY(20px) 

  }
  10%{
    transform:translateY(-20px)
  }
  15% {
    transform:translateY(20px) 
  }
  20% {
    transform:translateY(-20px) 
  }
  25% {
    transform:translateY(15px) 
  }
  
  30% {
    transform:translateY(-15px) 
  }
  35% {
   
    transform:translateY(15px)
  }
  40% {
   
    transform:translateY(-15px)
  }
  45% {
    transform:translateY(10px)
  }
  50% {
    transform:translateY(-10px)
  }
  55% {
    transform:translateY(10px)
  }
  60% {
    transform:translateY(-10px)
  }
  65% {
    transform:translateY(5px)
  }
  70% {
    transform:translateY(-5px)
  }
  75% {
    transform:translateY(5px)
  }
  80% {
    transform:translateY(-5px)
  }
  85% {
    transform:translateY(3px)
  }
  90% {
    transform:translateY(-2px)
  }
  100% {
    transform:translateY(0)

  }
}


@keyframes armswing {
  0% {
    rotate:-5deg;
    transform-origin:top;
    
  }
  
  100% {
    rotate:5deg;
    transform-origin:top;
  }
}

@keyframes legswing-right {
  0% {
   
    transform:translate(30%, 0%);
    
  }
  40% {
    transform:translate(5%, 30%);
  }
  100% {
    transform:translate(5%, 30%);
  }
}
@keyframes legswing-left {
  0% {
   
    transform:translate(-30%, 0%);
    
  }
  40% {
    transform:translate(-5%, 30%);
  }
  100% {
    transform:translate(-5%, 30%);
  }
}
@keyframes droid {
  0% {
   
    transform:translate(0%, 3%);
    
  }
  40% {
    transform:translate(0%, 0%);
  }
  100% {
    transform:translate(0%, 0%);
  }
}

@keyframes blink {
  0% {
   
    background-color:#fff;
    background-image:none;
  }
  19% {
    background-color:#fff;
    background-image:none;
  }
  20% {
    background-color:#0000;
    background-image:linear-gradient(180deg,transparent 40%,#fff 50%,transparent 60%)
  }
  29% {
    
      background-color:#0000;
      background-image:linear-gradient(180deg,transparent 40%,#fff 50%,transparent 60%);
    
  }
  30%{
    background-color:#fff;
    background-image:none;
  }
  100% {
    background-color:#fff;
    background-image:none;
  }
}



@keyframes blade {
  0% {     
    rotate: 0deg;
    transform:translate(0);
    transform-origin: left;
}
 15% {
  rotate: -90deg;
  transform:translateY(80px);
  transform-origin: left;
 }
 85%{
  rotate: -90deg;
  transform:translateY(80px);
  transform-origin: left;
 }
 100% {
  rotate: 0deg;
  transform:translate(0);
  transform-origin: left;
 }
}

@keyframes petal2{
  0%{
    transform:translateY(-427px)
  }
  100%{
    transform:translateY(27px)
  }
}
@keyframes petal1{
  0% {
    transform:rotate(-0deg) translateY(-156px);
  }
  100% {
    transform:rotate(-40deg) translateY(56px);
  }
}
@keyframes petal3{
  0% {
    transform:translateY(-256px);
    rotate:-40deg; 
  }
  20% {
  }
  40% {
  

  }
  
  100% {
    transform:translateY(56px);
    rotate:40deg; 
    
  }
}
@keyframes adidasbars{
  0%{
    transform:translateX(-1000px);
  }
  100%{
    transform:translateX(0px);
  }
}

@keyframes colorize {
  0% {
    background-color: var(--prevbgcolorize);
    color:var(--prevcolorize);
    transform:var(--prevX);
  }
  50%{
    transform:var(--currentX);
  }
  95% {
    background-color: var(--prevbgcolorize);
    color:var(--prevcolorize);
  }
  96%{
    background-color: var(--bgcolorize);
    color:var(--colorize);
    transform:var(--currentX);
  }
  100% {
    background-color: var(--bgcolorize);
    color:var(--colorize);
    transform:var(--currentX);
  }
}
@keyframes flowers {
  0% {
    rotate:0deg
  }
  100% {
    rotate:360deg
  }
}